# Global snippets

# (c) holds no legal value ;)
snippet c)
	Copyright `&enc[:2] == "utf" ? "©" : "(c)"` `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date
	`strftime("%Y-%m-%d")`
snippet ddate
	`strftime("%B %d, %Y")`
snippet ret
	return
snippet req
	require
snippet vi2
	# vi: set bs=2 shiftwidth=2 tabstop=2 softtabstop=2 :
	${1}
snippet vi4
	# vi: set bs=4 shiftwidth=4 tabstop=4 softtabstop=4 :
	${1}
