[submodule "bundle/vim-rails"]
    path = bundle/vim-rails
    url = git://github.com/tpope/vim-rails
[submodule "bundle/nerdtree"]
    path = bundle/nerdtree
    url = git://github.com/scrooloose/nerdtree
[submodule "bundle/vim-bundler"]
    path = bundle/vim-bundler
    url = git://github.com/tpope/vim-bundler
[submodule "bundle/vim-markdown"]
    path = bundle/vim-markdown
    url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-erlang"]
    path = bundle/vim-erlang
    url = https://github.com/onlychoice/vimerl/
[submodule "bundle/ctrlp"]
    path = bundle/ctrlp
    url = https://github.com/kien/ctrlp.vim
[submodule "bundle/vim-powerline"]
    path = bundle/vim-powerline
    url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-git"]
    path = bundle/vim-git
    url = https://github.com/motemen/git-vim
[submodule "bundle/vim-ack"]
    path = bundle/vim-ack
    url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-gitgutter"]
    path = bundle/vim-gitgutter
    url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-indeneLine"]
    path = bundle/vim-indeneLine
    url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-lua"]
	path = bundle/vim-lua
	url = https://github.com/vim-scripts/lua.vim.git
[submodule "bundle/vim-lua-ftplugin"]
	path = bundle/vim-lua-ftplugin
	url = http://github.com/xolox/vim-lua-ftplugin
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = http://github.com/xolox/vim-misc
[submodule "bundle/vim-bufexplorer"]
	path = bundle/vim-bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
